/* TODO 
Add a border around the card layout when the user hovers over it.
    Create a new branch off master.
Make each class subject card a named anchor link that scrolls down to a table that lists the classes offered about that subject
Tables should have a <thead>, <tbody>, and <tfoot>
Write custom styling for your tables in custom.css
Commit changes and merge into master. Push the updated version of the master branch to the remote repo.

*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: black;
    color: white;
   }
header {
    
}
header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-align: left;
}
.headingStyle {
    background-color: slategrey;
    color: azure;
}
header h2 {
    color: white;
    text-align: left;
}
#footer {
    background-image: radial-gradient(circle farthest-side at 50% 50%, #FF1AFF, #4693D6);
    color: azure;
    font-style: italic;
    font-size: large;
    padding: 1em;
} 
#contactCenter {
      position: center;
      text-align: center;
      font-size:x-large;
  }
  #contactUs {
      position: center;
      text-align: center;
  }





aside h2 {
    margin-top: 0;
}




#imgLeft {
    float: left;
    height: 375px;
    margin-right: 20px;
    padding: 1em;
}

#imgRight {
    float: right;
    height: 375px;
    margin-left: 20px;
}

#textLeft {
    float: left;
}

#aboutUs section {
    width: 85%;
    margin: auto;
}

.mainWrapper {
    padding: 1%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    background: #e8eff7;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px 0;
}

.card-top img {
    display: block;
    width: 100%;
}

.container {
    width: 95%;
    margin: auto;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,20);
}

.card-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.card-info h2 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.date {
    margin-bottom: 10px;
}

span, p {
    font-size: 15px;
    display: block;
}

.excerpt {
    color: #aeaeae;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-bottom {
    margin-top: 20px;
}

.button {
    text-decoration: unset;
    font-weight: 600;
    text-transform: uppercase;
    color: #4e4e4e;
    width: 80px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    background: #f2f4f6;
}

.read-more {
    text-decoration: unset;
    color: #000;
    font-weight: 600;
}

.btn-yellow {
    background: #ffb91d;
}

.btn-sky {
    background: #d2f9fe;
}

.btn-dpink {
    background: #e8d3fc;
}

body {
    background: url(/images/91657.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}



.back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
    #colorGradient1 {
    background-image: radial-gradient(circle farthest-side at 50% 50%, #FF1AFF, #4693D6);
}

nav {
    width: 100%;
    position: center;
    top: 50px;
    text-align: center;
}

nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

.back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.thx {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

        nav a:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #16151b;
            top: 47%;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
        }

        nav a:hover:before {
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
        }

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }

    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }

    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@for $i from 1 through 5 {
    nav a:nth-child(#{$i}) {
        animation: show .2s
    }
}
    th {
        font-weight: bold;
        text-align: center;
    }

    td, th {
        padding: .3em;
    }

    thead {
        background-color: deepskyblue;
    }

    tfoot {
        background-color: hotpink;
    }

        tfoot tr, tfoot td {
            border: 0;
        }

    tbody tr:nth-child(even) {
        background-color: deepskyblue;
    }

    table, tr, td, th {
        border: 2px outset white;
        border-collapse: collapse;
    }

    table {
        margin: auto;
        margin-bottom: 2em;
    }

    main.team section{

        padding: 2em;
        margin: 1em;
    }

main.team section img{
    float: left;
    
}

div.clear {
    clear: both;
}

main.team section p{
    border: 2px solid white;

}

